*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: Mulish-Bold;
    src: url(./font/Mulish/Mulish-Bold.ttf);
}
@font-face {
    font-family: Mulish-Light;
    src: url(./font/Mulish/Mulish-Light.ttf);
}
@font-face {
    font-family: Mulish-Medium;
    src: url(./font/Mulish/Mulish-Medium.ttf);
}
@font-face {
    font-family: Mulish-Regular;
    src: url(./font/Mulish/Mulish-Regular.ttf);
}
.body{
    background-image: url(./img/EG-en-20240909-TRIFECTA-perspective_7f808c3d-9f43-4019-badf-f042e7345ad0_small.jpg);
}
.sign-up-application{
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    height: 35px;
    margin-bottom: 0px;
    font-size: 1.17rem;
    padding: 0.5rem 0.65rem 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.container {
    max-width: 450px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/*general*/
.sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*start of the big div*/
.sign-up{
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 4px;
    background-color: rgba(0,0,0,0.7);
    margin-block: 6rem;
}
/*end of the big div*/
/*start of the label */
label{
    display: block;
    margin: 10px 30px 0px 10px;
    font-family: Mulish-Medium;
    font-size: 20px;
}
/*end of the label*/
/*start of input submit*/
input[type="submit"] {
    background-color: #d7d7d796;
    color: #000000;
    border: none;
    border-radius: 11px;
    margin-top: 15px;
    padding: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: black;
    color: white;
}
/*end of the input submit*/

/*start of div fname*/
.fname{
    background-color:#f0f8ffb0;
    border: 1px solid aliceblue;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.fname .label{
    color: rgb(0 0 0 / 63%);
    border: 1px solid;
    border-radius: 4px;
    padding-bottom: 5px;
}

/*end of the div fname */

/*start of the div lname */
.lname{
    background-color: #f0f8ffb0;
    color: rgb(0 0 0 / 63%);
    border: 1px solid;
    border-radius: 4px;
    margin: 5px 0px 5px;
    display: flex;
    flex-direction: column;
}

/*end of the div lname */


/*start of the div email */
.email{
    background-color: #f0f8ffb0;
    color: rgb(0 0 0 / 63%);
    border: 1px solid;
    border-radius: 4px;
    margin: 5px 0px 5px;
    display: flex;
    flex-direction: column;
}

/*end of the div email*/


/*start ofthe div password*/
.password{
    background-color: #f0f8ffb0;
    color: rgb(0 0 0 / 63%);
    border: 1px solid;
    border-radius: 4px;
    margin: 5px 0px 5px;
    display: flex;
    flex-direction: column;
}

/*end of the div password*/


/*start of the confirm- passaword*/
.confirm-password{
    background-color: #f0f8ffb0;
    color: rgb(0 0 0 / 63%);
    border: 1px solid;
    border-radius: 4px;
    margin: 5px 0px 5px;
    display: flex;
    flex-direction: column;
}
/*end of the div confirm-password*/